<header class="fixed">
  <div class="navigation">

    <a href="//www.sfchronicle.com" target="_blank">
      <div class="logo-link link">
          <img class="desk-logo" src="//projects.sfchronicle.com/shared/logos/sfc_logo_black.png"></img>
          <img class="mobile-logo" src="//projects.sfchronicle.com/shared/logos/sfletter_c_black.png"></img>
        </div>
    </a>

    <div class="link">
      <a class="specialhead-top" href="#priced-out">Teacher Pay</a>
    </div>

    <div class="link social email">
      <a id="mail-icon" href="mailto:?subject=Priced out: SF teachers struggle amid costly housing&body=With stagnant salaries, growing ranks of teachers have decided that working in San Francisco’s public schools isn’t worth the sacrifices. https://projects.sfchronicle.com/2016/teacher-pay/">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </div>

    <div class="link social">
      <a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Fteacher-pay%2F', 'facebook-share-dialog', 'width=626,height=436'); return false;">
          <i class="fa fa-facebook"></i>
      </a>
    </div>

    <div class="link social">
      <a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=https%3A//projects.sfchronicle.com/2016/teacher-pay/&amp;text=Priced out: SF teachers struggle to stay amid costly housing, stagnant salaries.">
        <i class="fa fa-twitter"></i>
      </a>
    </div>

  </div>
</header>
