<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title> <!-- title -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css" />

  <link rel="stylesheet" href="css/foundation.css" />

  <script src="js/vendor/modernizr.js"></script>
</head>



<style>

h1 {
    display: none;
}

p {
font-family: Georgia, serif;
}

a:hover img {
    opacity: 0.8;
}

img {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}
        
@media screen and (min-width: 1280px) {
  .asset_item, .asset_item.fullwidth {
    width: 100%;
  }
}    

</style>


<body>
  
    <p><em>Interactive intro text:</em></p>

    <!-- grid -->

    <div class="wide-row"> <!-- fills screen width -->

    <div class="large-centered large-12 columns">
      
        <ul class="large-block-grid-3">  <!-- set 1 --> 

            <li><a href="#" data-reveal-id="myModal1"> <!-- item 1 cover --> 
            <img src="http://placehold.it/550x550"></li></a>

            <div id="myModal1" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

            <div class="large-12 columns">
                <article>
                    <section class="modal-content1"> <!-- item 1 reveal -->
                        <h2 class="headline">Headline</h2>
                        <img src="http://placehold.it/550x550">
                        <p>Lorem ipsum dolor sit amet, eam cetero mediocrem consetetur in, ad homero concludaturque conclusionemque sed. Cum ne facilis salutatus, viris electram inciderint sit in, sit id iusto indoctum petentium. Omittam ancillae signiferumque in eum, quaerendum dissentiet vel in. Feugiat nusquam cum at, an diam deterruisset quo. Ut elitr constituam vis, dicat ignota delicatissimi vis no, ea esse deleniti quo. Ei labitur detraxit has, quo eu mollis fastidii appareat, ludus apeirian eu eum.</p>
                    </section>
                </article>                    
            </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        
            <li><a href="#" data-reveal-id="myModal2"> <!-- item 2 cover --> 
            <img src="http://placehold.it/550x550"></li></a>

            <div id="myModal2" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

            <div class="large-12 columns">
                <article>
                    <section class="modal-content"> <!-- item 2 reveal -->
                        <h2 class="headline">Headline</h2>
                        <img src="http://placehold.it/550x550">
                        <p>Lorem ipsum dolor sit amet, eam cetero mediocrem consetetur in, ad homero concludaturque conclusionemque sed. Cum ne facilis salutatus, viris electram inciderint sit in, sit id iusto indoctum petentium. Omittam ancillae signiferumque in eum, quaerendum dissentiet vel in. Feugiat nusquam cum at, an diam deterruisset quo. Ut elitr constituam vis, dicat ignota delicatissimi vis no, ea esse deleniti quo. Ei labitur detraxit has, quo eu mollis fastidii appareat, ludus apeirian eu eum.</p>
                    </section>
                </article>                    
            </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        
        
            <li><a href="#" data-reveal-id="myModal3"> <!-- item 3 cover --> 
            <img src="http://placehold.it/550x550"></li></a>

            <div id="myModal3" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

            <div class="large-12 columns">
                <article>
                    <section class="modal-content"> <!-- item 3 reveal -->
                        <h2 class="headline">Headline</h2>
                        <img src="http://placehold.it/550x550">
                        <p>Lorem ipsum dolor sit amet, eam cetero mediocrem consetetur in, ad homero concludaturque conclusionemque sed. Cum ne facilis salutatus, viris electram inciderint sit in, sit id iusto indoctum petentium. Omittam ancillae signiferumque in eum, quaerendum dissentiet vel in. Feugiat nusquam cum at, an diam deterruisset quo. Ut elitr constituam vis, dicat ignota delicatissimi vis no, ea esse deleniti quo. Ei labitur detraxit has, quo eu mollis fastidii appareat, ludus apeirian eu eum.</p>
                    </section>
                </article>                    
            </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        
      </ul> <!-- end set 1 --> 


        <ul class="large-block-grid-3">  <!-- set 2 --> 

            <li><a href="#" data-reveal-id="myModal4"> <!-- item 4 cover --> 
            <img src="http://placehold.it/550x550"></li></a>

            <div id="myModal4" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

            <div class="large-12 columns">
                <article>
                    <section class="modal-content"> <!-- item 4 reveal -->
                        <h2 class="headline">Headline</h2>
                        <img src="http://placehold.it/550x550">
                        <p>Lorem ipsum dolor sit amet, eam cetero mediocrem consetetur in, ad homero concludaturque conclusionemque sed. Cum ne facilis salutatus, viris electram inciderint sit in, sit id iusto indoctum petentium. Omittam ancillae signiferumque in eum, quaerendum dissentiet vel in. Feugiat nusquam cum at, an diam deterruisset quo. Ut elitr constituam vis, dicat ignota delicatissimi vis no, ea esse deleniti quo. Ei labitur detraxit has, quo eu mollis fastidii appareat, ludus apeirian eu eum.</p>
                    </section>
                </article>                    
            </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        
            <li><a href="#" data-reveal-id="myModal5"> <!-- item 5 cover --> 
            <img src="http://placehold.it/550x550"></li></a>

            <div id="myModal5" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

            <div class="large-12 columns">
                <article>
                    <section class="modal-content"> <!-- item 5 reveal -->
                        <h2 class="headline">Headline</h2>
                        <img src="http://placehold.it/550x550">
                        <p>Lorem ipsum dolor sit amet, eam cetero mediocrem consetetur in, ad homero concludaturque conclusionemque sed. Cum ne facilis salutatus, viris electram inciderint sit in, sit id iusto indoctum petentium. Omittam ancillae signiferumque in eum, quaerendum dissentiet vel in. Feugiat nusquam cum at, an diam deterruisset quo. Ut elitr constituam vis, dicat ignota delicatissimi vis no, ea esse deleniti quo. Ei labitur detraxit has, quo eu mollis fastidii appareat, ludus apeirian eu eum.</p>
                    </section>
                </article>                    
            </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        
        
            <li><a href="#" data-reveal-id="myModal6"> <!-- item 6 cover --> 
            <img src="http://placehold.it/550x550"></li></a>

            <div id="myModal6" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

            <div class="large-12 columns">
                <article>
                    <section class="modal-content"> <!-- item 6 reveal -->
                        <h2 class="headline">Headline</h2>
                        <img src="http://placehold.it/550x550">
                        <p>Lorem ipsum dolor sit amet, eam cetero mediocrem consetetur in, ad homero concludaturque conclusionemque sed. Cum ne facilis salutatus, viris electram inciderint sit in, sit id iusto indoctum petentium. Omittam ancillae signiferumque in eum, quaerendum dissentiet vel in. Feugiat nusquam cum at, an diam deterruisset quo. Ut elitr constituam vis, dicat ignota delicatissimi vis no, ea esse deleniti quo. Ei labitur detraxit has, quo eu mollis fastidii appareat, ludus apeirian eu eum.</p>
                    </section>
                </article>                    
            </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        
      </ul> <!-- end set 2 --> 


        <ul class="large-block-grid-3">  <!-- set 3 --> 

            <li><a href="#" data-reveal-id="myModal7"> <!-- item 7 cover --> 
            <img src="http://placehold.it/550x550"></li></a>

            <div id="myModal7" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

            <div class="large-12 columns">
                <article>
                    <section class="modal-content"> <!-- item 7 reveal -->
                        <h2 class="headline">Headline</h2>
                        <img src="http://placehold.it/550x550">
                        <p>Lorem ipsum dolor sit amet, eam cetero mediocrem consetetur in, ad homero concludaturque conclusionemque sed. Cum ne facilis salutatus, viris electram inciderint sit in, sit id iusto indoctum petentium. Omittam ancillae signiferumque in eum, quaerendum dissentiet vel in. Feugiat nusquam cum at, an diam deterruisset quo. Ut elitr constituam vis, dicat ignota delicatissimi vis no, ea esse deleniti quo. Ei labitur detraxit has, quo eu mollis fastidii appareat, ludus apeirian eu eum.</p>
                    </section>
                </article>                    
            </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        
            <li><a href="#" data-reveal-id="myModal8"> <!-- item 8 cover --> 
            <img src="http://placehold.it/550x550"></li></a>

            <div id="myModal8" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

            <div class="large-12 columns">
                <article>
                    <section class="modal-content"> <!-- item 8 reveal -->
                        <h2 class="headline">Headline</h2>
                        <img src="http://placehold.it/550x550">
                        <p>Lorem ipsum dolor sit amet, eam cetero mediocrem consetetur in, ad homero concludaturque conclusionemque sed. Cum ne facilis salutatus, viris electram inciderint sit in, sit id iusto indoctum petentium. Omittam ancillae signiferumque in eum, quaerendum dissentiet vel in. Feugiat nusquam cum at, an diam deterruisset quo. Ut elitr constituam vis, dicat ignota delicatissimi vis no, ea esse deleniti quo. Ei labitur detraxit has, quo eu mollis fastidii appareat, ludus apeirian eu eum.</p>
                    </section>
                </article>                    
            </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        
        
            <li><a href="#" data-reveal-id="myModal9"> <!-- item 9 cover --> 
            <img src="http://placehold.it/550x550"></li></a>

            <div id="myModal9" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

            <div class="large-12 columns">
                <article>
                    <section class="modal-content"> <!-- item 9 reveal -->
                        <h2 class="headline">Headline</h2>
                        <img src="http://placehold.it/550x550">
                        <p>Lorem ipsum dolor sit amet, eam cetero mediocrem consetetur in, ad homero concludaturque conclusionemque sed. Cum ne facilis salutatus, viris electram inciderint sit in, sit id iusto indoctum petentium. Omittam ancillae signiferumque in eum, quaerendum dissentiet vel in. Feugiat nusquam cum at, an diam deterruisset quo. Ut elitr constituam vis, dicat ignota delicatissimi vis no, ea esse deleniti quo. Ei labitur detraxit has, quo eu mollis fastidii appareat, ludus apeirian eu eum.</p>
                    </section>
                </article>                    
            </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        
      </ul> <!-- end set 3 --> 


        <ul class="large-block-grid-3">  <!-- set 4 --> 

            <li><a href="#" data-reveal-id="myModal10"> <!-- item 10 cover --> 
            <img src="http://placehold.it/550x550"></li></a>

            <div id="myModal10" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

            <div class="large-12 columns">
                <article>
                    <section class="modal-content"> <!-- item 10 reveal -->
                        <h2 class="headline">Headline</h2>
                        <img src="http://placehold.it/550x550">
                        <p>Lorem ipsum dolor sit amet, eam cetero mediocrem consetetur in, ad homero concludaturque conclusionemque sed. Cum ne facilis salutatus, viris electram inciderint sit in, sit id iusto indoctum petentium. Omittam ancillae signiferumque in eum, quaerendum dissentiet vel in. Feugiat nusquam cum at, an diam deterruisset quo. Ut elitr constituam vis, dicat ignota delicatissimi vis no, ea esse deleniti quo. Ei labitur detraxit has, quo eu mollis fastidii appareat, ludus apeirian eu eum.</p>
                    </section>
                </article>                    
            </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        
            <li><a href="#" data-reveal-id="myModal11"> <!-- item 11 cover --> 
            <img src="http://placehold.it/550x550"></li></a>

            <div id="myModal11" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

            <div class="large-12 columns">
                <article>
                    <section class="modal-content"> <!-- item 11 reveal -->
                        <h2 class="headline">Headline</h2>
                        <img src="http://placehold.it/550x550">
                        <p>Lorem ipsum dolor sit amet, eam cetero mediocrem consetetur in, ad homero concludaturque conclusionemque sed. Cum ne facilis salutatus, viris electram inciderint sit in, sit id iusto indoctum petentium. Omittam ancillae signiferumque in eum, quaerendum dissentiet vel in. Feugiat nusquam cum at, an diam deterruisset quo. Ut elitr constituam vis, dicat ignota delicatissimi vis no, ea esse deleniti quo. Ei labitur detraxit has, quo eu mollis fastidii appareat, ludus apeirian eu eum.</p>
                    </section>
                </article>                    
            </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        
        
            <li><a href="#" data-reveal-id="myModal12"> <!-- item 12 cover --> 
            <img src="http://placehold.it/550x550"></li></a>

            <div id="myModal12" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

            <div class="large-12 columns">
                <article>
                    <section class="modal-content"> <!-- item 12 reveal -->
                        <h2 class="headline">Headline</h2>
                        <img src="http://placehold.it/550x550">
                        <p>Lorem ipsum dolor sit amet, eam cetero mediocrem consetetur in, ad homero concludaturque conclusionemque sed. Cum ne facilis salutatus, viris electram inciderint sit in, sit id iusto indoctum petentium. Omittam ancillae signiferumque in eum, quaerendum dissentiet vel in. Feugiat nusquam cum at, an diam deterruisset quo. Ut elitr constituam vis, dicat ignota delicatissimi vis no, ea esse deleniti quo. Ei labitur detraxit has, quo eu mollis fastidii appareat, ludus apeirian eu eum.</p>
                    </section>
                </article>                    
            </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        
      </ul> <!-- end set 4 --> 

        <ul class="large-block-grid-3">  <!-- set 5 --> 

            <li><a href="#" data-reveal-id="myModal13"> <!-- item 13 cover --> 
            <img src="http://placehold.it/550x550"></li></a>

            <div id="myModal13" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

            <div class="large-12 columns">
                <article>
                    <section class="modal-content"> <!-- item 13 reveal -->
                        <h2 class="headline">Headline</h2>
                        <img src="http://placehold.it/550x550">
                        <p>Lorem ipsum dolor sit amet, eam cetero mediocrem consetetur in, ad homero concludaturque conclusionemque sed. Cum ne facilis salutatus, viris electram inciderint sit in, sit id iusto indoctum petentium. Omittam ancillae signiferumque in eum, quaerendum dissentiet vel in. Feugiat nusquam cum at, an diam deterruisset quo. Ut elitr constituam vis, dicat ignota delicatissimi vis no, ea esse deleniti quo. Ei labitur detraxit has, quo eu mollis fastidii appareat, ludus apeirian eu eum.</p>
                    </section>
                </article>                    
            </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        
            <li><a href="#" data-reveal-id="myModal14"> <!-- item 14 cover --> 
            <img src="http://placehold.it/550x550"></li></a>

            <div id="myModal14" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

            <div class="large-12 columns">
                <article>
                    <section class="modal-content"> <!-- item 14 reveal -->
                        <h2 class="headline">Headline</h2>
                        <img src="http://placehold.it/550x550">
                        <p>Lorem ipsum dolor sit amet, eam cetero mediocrem consetetur in, ad homero concludaturque conclusionemque sed. Cum ne facilis salutatus, viris electram inciderint sit in, sit id iusto indoctum petentium. Omittam ancillae signiferumque in eum, quaerendum dissentiet vel in. Feugiat nusquam cum at, an diam deterruisset quo. Ut elitr constituam vis, dicat ignota delicatissimi vis no, ea esse deleniti quo. Ei labitur detraxit has, quo eu mollis fastidii appareat, ludus apeirian eu eum.</p>
                    </section>
                </article>                    
            </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        
        
            <li><a href="#" data-reveal-id="myModal15"> <!-- item 15 cover --> 
            <img src="http://placehold.it/550x550"></li></a>

            <div id="myModal15" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

            <div class="large-12 columns">
                <article>
                    <section class="modal-content"> <!-- item 15 reveal -->
                        <h2 class="headline">Headline</h2>
                        <img src="http://placehold.it/550x550">
                        <p>Lorem ipsum dolor sit amet, eam cetero mediocrem consetetur in, ad homero concludaturque conclusionemque sed. Cum ne facilis salutatus, viris electram inciderint sit in, sit id iusto indoctum petentium. Omittam ancillae signiferumque in eum, quaerendum dissentiet vel in. Feugiat nusquam cum at, an diam deterruisset quo. Ut elitr constituam vis, dicat ignota delicatissimi vis no, ea esse deleniti quo. Ei labitur detraxit has, quo eu mollis fastidii appareat, ludus apeirian eu eum.</p>
                    </section>
                </article>                    
            </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        
      </ul> <!-- end set 5 --> 


    </div> <!-- end grid column layout --> 
    </div> <!-- end wide row --> 

 <!-- end grid --> 

<!-- DELETE jQuery before pasting into WCM -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js" /> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation/foundation.reveal.js" /></script>

<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
$(document).foundation();
</script>
</body>
</html>