@import "sfchronicle";
@import "fonts";

@block-graphics: "AntennaExtraLight";
@bold-graphics: "AntennaMedium";
@body: "FarnhamText";
@body-bold: "FarnhamTextBold";
@title: "FarnhamDisplayLight";
@banner: "DispatchLight";

@teachers: #6C85A5;
@step10: #FFCC32;
@overall: #889C6B;

@red: #E6A8A8;
@gray-blue: #6C85A5;
@dark-gray: #696969;
@light-gray: #B2B2B2;

@share-gray: lighten(#4F5C70,10%);
@back-gray: lighten(#6C85A5,35%);

body {
  font-family: @body;
  max-width: 800px;
  margin: auto;
}

.hed {
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-family: @block-graphics;
  font-weight: bold;
  @media @mobile {
    padding: 0 10px;
  }
}

.special-head {
  color: darken(@gray-blue,30%);
  text-align: right;
  font-family: @banner;
  text-transform: uppercase;
  width: 200px;
  float: right;
  vertical-align: bottom;
  padding-top: 10px;
  font-weight: bold;
  font-size: 16px;
}

.chatter {
  font-size: 15px;
  text-align: center;
  padding-bottom: 5px;
  font-family: @block-graphics;
  @media @tablet {
    padding: 10px;
  }
}

.title {
  font-family: @title;
  font-weight: 400;
  font-size: 30px;
  padding: 0 10px;
  text-align: center;
}
.title-img {
  margin: 10px 0;
}

#social {
  text-align: center;
  margin-bottom:10px;

  a {
    font-size: 20px;
    padding: 0 8px;
    color: @share-gray;

    @include media (max-width $small-breakpoint) {
      font-size: 1.3em;
    }

    &:hover {
      color: @light-gray;
    }
  }
}

.top-photo {
  height: 100px;
}

.byline {
  font-size: 12px;
  text-align: center;
  font-family: @body;
}

.text {
  padding: 20px 0;
  font-size: 18px;
  font-family: @body;
  @media @tablet {
    padding: 20px 10px;
  }
  @media @mobile {
    padding: 10px 10px;
  }
}

header {
  background: lighten(@teachers,40%);
  opacity: 0.95;
  padding: 0 10px;
  position: relative;
  z-index: 99;
  font-family: @bold-graphics;

  .logo {
    float: left;
    margin-right: 10px;
    img {
      margin-top: 10px;
      height: 20px;
    }
    @media @mobile {
      display: none;
    }
  }
  .mobile-logo {
    display: none;
    @media @mobile {
      display: inline;
    }
    img {
      margin-top: 10px;
      height: 18px;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}

footer {
  background: @df-charcoal;
  opacity: 0.95;
  padding: 0 10px;
  position: relative;
  z-index: 99;
  margin-top: 10px;

  .logo {
    float: left;
    margin-right: 10px;

    img {
      margin-top: 10px;
      height: 20px;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}

.credits {
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  font-style: italic;
  background: @back-gray;
  font-size: 16px;
  font-family: @body;
  @media @mobile {
    font-size: 12px;
  }
}

.divider {
  border-bottom: 1px black solid;
  height: 2px;
  // &.top {
  //   padding-top: 20px;
  //   width: 90%;
  //   margin: auto;
  //   border-bottom: 1px white solid;
  // }
  &.top {
    width: 100%;
    border-bottom: 2px black solid;
    margin-bottom: 10px;
    background-color: darken(@gray-blue,30%);
  }
}
.divider-text {
  margin: auto;
  margin-top: -13px;
  background: white;
  width: 150px;
  text-align: center;
  font-family: @banner;
  text-transform: uppercase;
  letter-spacing: 1px;
  &.top {
    width: 320px;
    background: darken(@gray-blue,30%);
    color: white;
    font-size: 15px;
    // font-style: italic;
  }
}
.divider-container {
  background: darken(@gray-blue,30%);
  padding-bottom: 10px;
  margin-top: 5px;
}

.related-stories {
  height: 100px;
}

.dont-miss {
  .display-flex;
  .flex-wrap(wrap);
  margin-bottom: 20px;
  font-size: 17px;
  font-family: @block-graphics;

  .story {
    .flex(0 0 25%);

    @media @mobile {
      .flex(1 1 50%)
    }
  }
  .padded {
    padding: 10px;
  }
  .small {
    font-weight: bold;
    font-size: 15px;
  }
  img {
    width: 100%;
  }
}

.source {
  padding-top: 10px;
  font-size: 11.5px;
  color: @dark-gray;
  font-style: italic;
  font-family: @block-graphics;
  @media @tablet {
    padding: 10px 20px;
  }
  @media @mobile {
    padding: 10px;
  }
  // text-transform: capitalize;
}

// bubble graph styles ---------------------------------------------------------

// #bubble-graph {
//   height: 900px;
//   width: 900px;
//   //font-family: 13px sans-serif;
//   @media @mobile {
//     width: 98%;
//     margin: auto;
//   }

.bubble-graph {
  svg {
    display: block;
    margin: auto;
  }
  text {
    font-size: 14px;
    font-family: @block-graphics;
  }

  .x.axis line,
  .x.axis path,
  .y.axis line,
  .y.axis path {
    fill: none;
    stroke: #000;
  }
  .label {
    font-size: 18px;
    @media @mobile {
      font-size: 10px;
      z-index: 100;
    }
  }
  .tick {
    text {
      @media @mobile {
        font-size: 12px;
      }
    }
  }

  .tooltip, .bar_tooltip {
    position: absolute;
    pointer-events: none;
    background: lighten(@light-gray,20%);
  }
  .dot {
    cursor: pointer;
  }

}

.area {
  fill: darken(@red,35%);
  stroke-width: 0;
}

.tooltip, .bar_tooltip {
  // display: none;
  position: absolute;
  background: @df-off-white;
  font-size: 12px;
  padding: 5px;
  border: 1px solid @df-light-gray;
  border-radius: 5px;
  white-space: nowrap;

  // &.show {
  //   display: block;
  // }

  &.flip {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.tooltip {
  width: 230px;
  height: 115px;
}
.bar_tooltip {
  width: 210px;
  height: 80px;
}

// search styles ---------------------------------------------------------------

.search-section {
  background: @back-gray;
  padding: 10px 5px;
  font-family: @block-graphics;
}

table {
  margin: auto;
  tr:nth-child(even) td {background: #F8F8F8};
  tr:nth-child(odd) td {background: #D8D8D8};
}

thead {
  background: darken(@back-gray,10%);
  font-size: 13px;
  th {
    width: 100px;
    padding: 5px 0;
    &.step10 {
      @media @mobile {
        display: none;
      }
    }
    @media @mobile {
      font-size: 10px;
    }
  }
}
td {
  font-size: 14px;
  padding-left: 10px;
  &.step10 {
    @media @mobile {
      display: none;
    }
  }
  @media @mobile {
    font-size: 10px;
  }
}

.search-bar, .empty-note {
  text-align: center;
}
.search-bar {
  margin-bottom: 5px;
}

input {
  width: 200px;
  background: #F8F8F8;
  font-size: 14px;
}

// bar graph styles ------------------------------------------------------------

.stacked-bar-graph, .clustered-bar-graph {

  svg {
    display: block;
    margin: auto;
  }
  text {
    font-size: 14px;
    font-family: @block-graphics;
  }

  .x.axis line,
  .x.axis path {
    stroke: #fff;
    fill: #fff;
  }

  .y.axis line,
  .y.axis path {
    fill: none;
    stroke: #000;
  }

}

.select-container {
  text-align: center;
  padding: 5px 0;
  font-family: @block-graphics;
  select {
    width: 200px;
    font-size: 16px;
    background: lighten(@gray-blue,20%);
  }
}

// legend styles --------------------------------------------------------------

.legend-container {
  width: 250px;
  margin: 5px auto;
  // @media @mobile {
  //   margin-top: -10px;
  // }
  border: 2px black solid;
  border-radius: 5px;
  font-size: 14px;
  font-family: @block-graphics;
  .legend {
    font-weight: bold;
    text-align: center;
  }
  .swatch {
    padding: 7px 10px;
    border: 1px black solid;
    &.teachers { background: @teachers; }
    &.step10 { background: @step10; }
    &.overall { background: @overall; }
  }
  .key {
    display: inline-block;
    padding-right: 20px;
    margin-left: 3px;
  }
  background: white;
  padding: 5px;
}

.swatch {
  display: inline-block;
  text-align: center;
  content-align: center;
  font-size: 12px;
  padding: 0 3px;
  font-weight: bold;
  border-radius: 2px;
  //margin-bottom: 4px;
  margin-right: 5px;
  height: 10px;
  width: 10px;
  //margin: auto;
}
