@import "sfchronicle";
@import "fonts";

@block-graphics: "AntennaExtraLight";
@bold-graphics: "AntennaMedium";
@body: "FarnhamText";
@body-bold: "FarnhamTextBold";
@title: "FarnhamDisplayLight";
@banner: "DispatchLight";

@teachers: #6C85A5;
@step10: #FFCC32;
@overall: #889C6B;

@red: lighten(#66101F,50%);//lighten(#DE8067,30%);//#E6A8A8;
@gray-blue: #6C85A5;
@dark-gray: #696969;
@light-gray: #B2B2B2;

@share-gray: lighten(#4F5C70,10%);
@back-gray: lighten(#6C85A5,35%);

@alamedacounty: #DE8067;
@buttecounty: #D13D59;
@contracostacounty: #889C6B;
@fresnocounty: #996B7D;
@kerncounty: #A89170;
@losangelescounty: #6C85A5;//'#61988E;
@maderacounty: #6E7B8E;
@montereycounty: #80A9D0;
@napacounty: #FFE599;
@orangecounty: #FFCC32;
@riversidecounty: #99B4CF;
@sacramentocounty: #99B4CF;
@sanbernardinocounty: #61988E;
@sandiegocounty: #9FA7B3;
@sanfranciscocounty: #FFE599;
@sanjoaquincounty: #E59FA6;
@santabarbaracounty: #E89EAC;
@santaclaracounty: #846A6A;
@santacruzcounty: #EB8F6A;
@solanocounty: #6F7D8C;
@sonomacounty: #DE8067;
@stanislauscounty: #667A96;
@suttercounty: #FFE599;
@tularecounty: #9C8B9E;
@venturacounty: #D04B61;

body {
  font-family: @body;
  max-width: 900px;
  margin: auto;
}

.list-container {
  cursor: pointer;
  max-height: 200px;
  width: 300px;
  position: absolute;
  font-family: @block-graphics;
  font-size: 14px;
  padding: 5px;
  background: lighten(@gray-blue,20%);
  right: 30%;
  overflow: auto;
  border-radius: 5px;
  // display: none;
  // &.display-class {
  //   display: block;
  // }
}





.text, .interactive {
  max-width: 800px;
  margin: auto;
}

.interactive {
  margin: 40px auto;
  @media @mobile {
    margin: 0 auto;
  }
}

.sidebar-heading {
  @media @mobile {
    font-size: 16px !important;
  }
}

// p {
//   @media @mobile {
//     margin: 5px 5px;
//   }
// }

.sidebar-click {
  cursor: pointer;
  width: 400px;
  margin: 10px 0;
  float: right;
  margin-left: 20px;
  margin-right: 0;
  background: lighten(@share-gray,35%);
  padding: 10px;
  @media @tablet {
    width: 350px;
    margin-right: 20px;
  }
  @media @mobile {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  &.left {
    margin: 20px;
    float: left;
    @media @tablet {
      margin: 20px;
    }
    @media @mobile {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
    }
  }
  &.vertical {
    width: 300px !important;
    @media @mobile {
      // margin: 15px 0;
      margin-bottom: 20px;
      // width: 100%;
      width: 100% !important;
      // width: 100% !important;
      img {
        width: 250px !important;
      }
    }
  }
  .click-here {
    font-family: @block-graphics;
    position: absolute;
    opacity: 1.0;
    padding: 10px;
    z-index: 50;
    background: rgba(248,248,255, 0.5);
    &.white {
      color: white;
      background: rgba(178,178,178, 0.6);
    }
    .fa-long-arrow-right {
      font-size: 25px;
      padding: 0 10px;
      color: darken(@dark-gray,10%);
      padding-top: 5px;
    }
  }
}

.sidebar-content {
  background: lighten(@share-gray,35%);
  position: absolute;
  transition: 300ms left;
  max-width: 900px;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.98;
  border-radius: 5px;
  padding: 20px;
  z-index: 100;
  @media @tablet {
    width: 100%;
  }
  @media @mobile {
    width: 100%;
    padding: 15px;
  }
  .fa-times {
    cursor: pointer;
    font-size: 25px;
    z-index: 100;
    float: right;
    margin-bottom: 20px;
    @media @mobile {
      margin-bottom: 15px;
    }
  }
  .credits {
    margin: 0;
    padding: 10px;
  }
  .text {
    padding: 0 5px;
  }
}

.hed {
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-family: @block-graphics;
  font-weight: bold;
  @media @mobile {
    padding: 0 10px;
  }
}

.special-head {
  color: darken(@gray-blue,30%);
  text-align: right;
  font-family: @banner;
  text-transform: uppercase;
  width: 200px;
  float: right;
  vertical-align: bottom;
  padding-top: 10px;
  font-weight: bold;
  font-size: 16px;
}

.chatter {
  font-size: 15px;
  text-align: center;
  padding-bottom: 5px;
  font-family: @block-graphics;
  @media @tablet {
    padding: 10px;
  }
}

.title {
  font-family: @title;
  font-weight: 400;
  font-size: 30px;
  padding: 0 10px;
  width: 80%;
  margin: auto;
  text-align: center;
  @media @mobile {
    font-size: 25px;
    width: 100%;
  }
}
.title-img {
  margin-bottom: 10px;
  // margin: 10px 0;
}

#social {
  text-align: center;
  margin-bottom:10px;

  a {
    font-size: 20px;
    padding: 0 8px;
    color: @share-gray;

    @include media (max-width $small-breakpoint) {
      font-size: 1.3em;
    }

    &:hover {
      color: @light-gray;
    }
  }
}

.top-photo {
  height: 100px;
}

.byline {
  font-size: 12px;
  text-align: center;
  font-family: @body;
}

.text {
  padding: 0 20px;
  font-size: 18px;
  font-family: @body;
  @media @tablet {
    font-size: 15px;
    // padding: 20px 10px;
  }
  @media @mobile {
    padding: 10px 10px;
  }
}

.title-img {
  .credit {
    @media @mobile {
      // margin-top: -25px;
      margin-top: -5px;
      color: @light-gray !important;
    }
  }
}

.photo, .title-img, .sidebar-click {
  .caption {
    font-size: 14px;
    padding-left: 5px;
    font-family: @body;
    color: @dark-gray;
    @media @mobile {
      font-size: 10px;
    }
  }
  .credit {
    // padding: 5px 0;
    font-size: 12px;
    padding-left: 5px;
    font-style: italic;
    color: @dark-gray;
  }
}
.photo, .title-img {
  &.large {
    width: 100%;
  }
  &.inset {
    width: 350px;
    @media @mobile {
      width: 100%;
    }
    margin: 10px 0;
    &.right {
      float: right;
      margin-left: 20px;
      margin-right: 0;
      @media @tablet {
        margin: 20px;
      }
      @media @mobile {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
      }
    }
    &.left {
      float: left;
      margin-right: 20px;
      margin-left: 0;
      @media @tablet {
        margin: 20px;
      }
      @media @mobile {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
      }
      &.vertical {
        @media @mobile {
          width: 50%;
          margin-right: 20px;
        }

      }
    }
  }
  &.vertical {
    width: 250px;
  }
  &.sidebar {
    &.vertical {
      width: 50%;
      float: right;
      margin-top: 20px;
      margin-left: 20px;
      margin-bottom: 5px;
    }
  }
}

header {
  background: lighten(@teachers,40%);
  opacity: 0.95;
  padding: 0 10px;
  position: relative;
  z-index: 99;
  font-family: @bold-graphics;

  .logo {
    float: left;
    margin-right: 10px;
    img {
      margin-top: 10px;
      height: 20px;
    }
    @media @mobile {
      display: none;
    }
  }
  .mobile-logo {
    display: none;
    @media @mobile {
      display: inline;
    }
    img {
      margin-top: 10px;
      height: 18px;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}

footer {
  background: @df-charcoal;
  opacity: 0.95;
  padding: 0 10px;
  position: relative;
  z-index: 99;
  margin-top: 10px;

  .logo {
    float: left;
    margin-right: 10px;

    img {
      margin-top: 10px;
      height: 20px;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}

.credits {
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  font-style: italic;
  background: @back-gray;
  font-size: 16px;
  font-family: @body;
  @media @mobile {
    font-size: 12px;
  }
}

.divider {
  border-bottom: 1px black solid;
  height: 2px;
  // &.top {
  //   padding-top: 20px;
  //   width: 90%;
  //   margin: auto;
  //   border-bottom: 1px white solid;
  // }
  &.top {
    width: 100%;
    border-bottom: 2px black solid;
    margin-bottom: 10px;
    background-color: darken(@gray-blue,30%);
  }
}
.divider-text {
  margin: auto;
  margin-top: -13px;
  background: white;
  width: 150px;
  text-align: center;
  font-family: @banner;
  text-transform: uppercase;
  letter-spacing: 1px;
  &.top {
    width: 320px;
    background: darken(@gray-blue,30%);
    color: white;
    font-size: 15px;
    // font-style: italic;
  }
}
.divider-container {
  background: darken(@gray-blue,30%);
  padding-bottom: 10px;
  margin-top: 5px;
}

.related-stories {
  height: 100px;
}

.dont-miss {
  .display-flex;
  .flex-wrap(wrap);
  margin-bottom: 20px;
  font-size: 17px;
  font-family: @block-graphics;

  .story {
    .flex(0 0 25%);

    @media @mobile {
      .flex(1 1 50%)
    }
  }
  .padded {
    padding: 10px;
  }
  .small {
    font-weight: bold;
    font-size: 15px;
  }
  img {
    width: 100%;
  }
}

.source {
  padding-top: 10px;
  font-size: 11.5px;
  color: @dark-gray;
  font-style: italic;
  font-family: @block-graphics;
  @media @tablet {
    padding: 10px 20px;
  }
  @media @mobile {
    padding: 10px;
  }
  // text-transform: capitalize;
}

// bubble graph styles ---------------------------------------------------------

// #bubble-graph {
//   height: 900px;
//   width: 900px;
//   //font-family: 13px sans-serif;
//   @media @mobile {
//     width: 98%;
//     margin: auto;
//   }

.graph-text {
  padding-bottom: 4px;
}

.bubble-graph {
  margin-top: 30px;
  @media @mobile {
    margin-top: 0;
  }
  svg {
    display: block;
    margin: auto;
  }
  text {
    font-size: 14px;
    font-family: @block-graphics;
  }

  circle {
    &.alamedacounty {
      &.highlight {fill: darken(@alamedacounty,20%) !important;}}
    &.buttecounty {
      &.highlight {fill: darken(@buttecounty,20%) !important;}}
    &.contracostacounty {
      &.highlight {fill: darken(@contracostacounty,20%) !important;}}
    &.fresnocounty {
      &.highlight {fill: darken(@fresnocounty,20%) !important;}}
    &.kerncounty {
      &.highlight {fill: darken(@kerncounty,20%) !important;}}
    &.losangelescounty {
      &.highlight {fill: darken(@losangelescounty,20%) !important;}}
    &.maderacounty {
      &.highlight {fill: darken(@maderacounty,20%) !important;}}
    &.montereycounty {
      &.highlight {fill: darken(@montereycounty,20%) !important;}}
    &.napacounty {
      &.highlight {fill: darken(@napacounty,20%) !important;}}
    &.orangecounty {
      &.highlight {fill: darken(@orangecounty,20%) !important;}}
    &.riversidecounty {
      &.highlight {fill: darken(@riversidecounty,20%) !important;}}
    &.sacramentocounty {
      &.highlight {fill: darken(@sacramentocounty,20%) !important;}}
    &.sanbernardinocounty {
      &.highlight {fill: darken(@sanbernardinocounty,20%) !important;}}
    &.sandiegocounty {
      &.highlight {fill: darken(@sandiegocounty,20%) !important;}}
    &.sanjoaquincounty {
      &.highlight {fill: darken(@sanjoaquincounty,20%) !important;}}
    &.santabarbaracounty {
      &.highlight {fill: darken(@santabarbaracounty,20%) !important;}}
    &.santaclaracounty {
      &.highlight {fill: darken(@santaclaracounty,20%) !important;}}
    &.santacruzcounty {
      &.highlight {fill: darken(@santacruzcounty,20%) !important;}}
    &.sanfranciscocounty {
      &.highlight {fill: darken(@sanfranciscocounty,20%) !important;}}
    &.solanocounty {
      &.highlight {fill: darken(@solanocounty,20%) !important;}}
    &.sonomacounty {
      &.highlight {fill: darken(@sonomacounty,20%) !important;}}
    &.stanislauscounty {
      &.highlight {fill: darken(@stanislauscounty,20%) !important;}}
    &.suttercounty {
      &.highlight {fill: darken(@suttercounty,20%) !important;}}
    &.tularecounty {
      &.highlight {fill: darken(@tularecounty,20%) !important;}}
    &.venturacounty {
      &.highlight {fill: darken(@venturacounty,20%) !important; }}
  }
  .node {
    text {
      visibility: hidden;
      &.highlight {
        visibility: visible;
        stroke: black;
        fill: none !important;
      }
    }
  }

  .x.axis line,
  .x.axis path,
  .y.axis line,
  .y.axis path {
    fill: none;
    stroke: #000;
  }
  .label {
    font-size: 18px;
    @media @mobile {
      font-size: 10px;
      z-index: 100;
    }
  }
  .tick {
    text {
      @media @mobile {
        font-size: 12px;
      }
    }
  }

  .tooltip, .bar_tooltip {
    position: absolute;
    pointer-events: none;
    background: lighten(@light-gray,20%);
    @media @mobile {
      background: lighten(@light-gray,10%);
    }
  }
  .dot {
    cursor: pointer;
  }

}

.area {
  fill: darken(@red,35%);
  stroke-width: 0;
}

.tooltip, .bar_tooltip {
  // display: none;
  position: absolute;
  background: @df-off-white;
  font-size: 12px;
  padding: 5px;
  border: 1px solid @df-light-gray;
  border-radius: 5px;
  white-space: nowrap;

  // &.show {
  //   display: block;
  // }

  &.flip {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.tooltip {
  width: 300px;
  height: 115px;
  .swatch {
    // width: 200px;
    // height: 15px;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    border-radius: 10px;
    vertical-align: top;
    &.alamedacounty {background: @alamedacounty;}
    &.buttecounty {background: @buttecounty;}
    &.contracostacounty {background: @contracostacounty;}
    &.fresnocounty {background: @fresnocounty;}
    &.kerncounty {background: @kerncounty;}
    &.losangelescounty {background: @losangelescounty;}
    &.maderacounty {background: @maderacounty;}
    &.montereycounty {background: @montereycounty;}
    &.napacounty {background: @napacounty;}
    &.orangecounty {background: @orangecounty;}
    &.riversidecounty {background: @riversidecounty;}
    &.sacramentocounty {background: @sacramentocounty;}
    &.sanbernardinocounty {background: @sanbernardinocounty;}
    &.sandiegocounty {background: @sandiegocounty;}
    &.sanjoaquincounty {background: @sanjoaquincounty;}
    &.santabarbaracounty {background: @santabarbaracounty;}
    &.santaclaracounty {background: @santaclaracounty;}
    &.santacruzcounty {background: @santacruzcounty;}
    &.sanfranciscocounty {background: @sanfranciscocounty;}
    &.solanocounty {background: @solanocounty;}
    &.sonomacounty {background: @sonomacounty;}
    &.stanislauscounty {background: @stanislauscounty;}
    &.suttercounty {background: @suttercounty;}
    &.tularecounty {background: @tularecounty;}
    &.venturacounty {background: @venturacounty;}
  }
}
.bar_tooltip {
  width: 210px;
  height: 80px;
}

.mobile-chatter {
  display: none;
  font-family: @block-graphics;
  font-size: 16px;
  text-align: center;
  margin: auto 10px;
  margin-top: 30px;
  @media @mobile {
    display: block;
  }
}

// search styles ---------------------------------------------------------------

.search-section {
  background: @back-gray;
  padding: 10px 5px;
  font-family: @block-graphics;
}

.scroll-section {
  height: 200px;
  overflow:auto;
}

table {
  margin: auto;
  tr:nth-child(even) td {background: #F8F8F8};
  tr:nth-child(odd) td {background: #D8D8D8};
}

thead {
  background: darken(@back-gray,10%);
  font-size: 13px;
  th {
    width: 100px;
    padding: 5px 0;
    &.step10 {
      @media @mobile {
        display: none;
      }
    }
    @media @mobile {
      font-size: 10px;
    }
  }
}
td {
  font-size: 14px;
  padding-left: 10px;
  &.step10 {
    @media @mobile {
      display: none;
    }
  }
  @media @mobile {
    font-size: 10px;
  }
}

.search-bar, .empty-note {
  text-align: center;
}
.search-bar {
  margin-bottom: 5px;
}

input {
  width: 200px;
  background: #F8F8F8;
  font-size: 14px;
}

.bubble-search {
  background: @back-gray;
  padding: 10px 5px;
  font-family: @block-graphics;
  text-align: center;
  font-size: 14px;
}

.selectbubble-class {
  display: none;
  position: absolute;
  width: 33%;
  max-height: 100px;
  height: auto;
  // left: 40%;
  right: 40%;
  @media @tablet {
    right: 20%;
  }
  @media @mobile {
    right: clear;
  }
  @media @mobile {
    left: 10px;
  }
  opacity: 0.7;
  margin: 5px auto !important;
  &.active {
    display: block;
    text-align: center;
    padding: 5px 0;
  }
}

// bar graph styles ------------------------------------------------------------

.stacked-bar-graph, .clustered-bar-graph {

  svg {
    display: block;
    margin: auto;
  }
  text {
    font-size: 14px;
    font-family: @block-graphics;
  }

  .x.axis line,
  .x.axis path {
    stroke: #fff;
    fill: #fff;
  }

  .y.axis line,
  .y.axis path {
    fill: none;
    stroke: #000;
  }

}

.select-container {
  text-align: center;
  padding: 5px 0;
  font-family: @block-graphics;
  &.bubbles {
    margin-top: -15px;
  }
  select {
    width: 200px;
    font-size: 16px;
    background: lighten(@gray-blue,20%);
    &.selectbubble-class {
      width: 300px;
    }
  }
}

// legend styles --------------------------------------------------------------

.legend-container {
  width: 250px;
  margin: 5px auto;
  // @media @mobile {
  //   margin-top: -10px;
  // }
  border: 2px black solid;
  border-radius: 5px;
  font-size: 14px;
  font-family: @block-graphics;
  .legend {
    font-weight: bold;
    text-align: center;
  }
  .swatch {
    padding: 7px 10px;
    border: 1px black solid;
    &.teachers { background: @teachers; }
    &.step10 { background: @step10; }
    &.overall { background: @overall; }
  }
  .key {
    display: inline-block;
    padding-right: 20px;
    margin-left: 3px;
  }
  background: white;
  padding: 5px;
}

.swatch {
  display: inline-block;
  text-align: center;
  content-align: center;
  font-size: 12px;
  padding: 0 3px;
  font-weight: bold;
  border-radius: 2px;
  //margin-bottom: 4px;
  margin-right: 5px;
  height: 10px;
  width: 10px;
  //margin: auto;
}
