<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>

      <div ng-controller="TeacherController" ng-app="teachers">

      <header>
        <a class="logo" href="http://www.sfchronicle.com" target="_blank">
          <img src="./assets/sf_logo_black.png">
        </a>
        <a class="mobile-logo" href="http://www.sfchronicle.com" target="_blank">
          <img src="./assets/sfletter_c_black.png">
        </a>
        <div class="special-head">Special report</div>
      </header>

      <div class="title-container">
        <img class="title-img" src="./assets/classroom.jpg">
        <div class="title">Teacher salaries can't keep up in the Silicon Valley</div>
      </div>

      <div id="social">
        <a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A//projects.sfchronicle.com/2016/teacher-pay/&amp;text=Check out our great investigative journalism.">
      		<i class="fa fa-twitter"></i>
      	</a>
        <a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Fteacher-pay%2F', 'facebook-share-dialog', 'width=626,height=436'); return false;">
            <i class="fa fa-facebook"></i>
        </a>
        <a id="mail-icon" href="mailto:?subject=Teacher Pay - San Francisco Chronicle special report.&body=http://projects.sfchronicle.com/2016/teacher-pay/">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </div>

      <div class="byline">By Joaquin Palomino and Heather Knight</div>
      <div class="byline">April 15, 2015</div>

      <div class="text">The pay gap between the sexes in San Francisco has been wide at times in the past. But in 2009, as the recession was winding down, fully employed men and women in the city had roughly the same median income: $66,000 and $64,000 per year, respectively, after adjusting for inflation. By 2014, men working full time made about $73,400 per year, $11,300 more than women on average.</div>

      <div class="hed">Can teachers afford to live in the city they work in?</div>
      <div class="chatter">Federal guidelines recommend spending no more than 30 percent of annual income on housing, but that’s difficult for San Fancisco teachers. Out of the 115 largest school districts in the state, San Francisco teachers had by far the worst pay-to-rent ratio, with Oakland and Berkeley a distant second and third. All rental estimates are for one-bedroom units. All salary estimates are for the 2014-15 school year.</div>
      <div class="bubble-graph" id="bubble-graph">
      </div>

      <div class="source">About the data: Rent estimates are from the rental listing company, Zumper. For cities that were not in Zumper’s database, estimates from the closest nearby city were used.</div>

      <div class="text">The pay gap between the sexes in San Francisco has been wide at times in the past. But in 2009, as the recession was winding down, fully employed men and women in the city had roughly the same median income: $66,000 and $64,000 per year, respectively, after adjusting for inflation. By 2014, men working full time made about $73,400 per year, $11,300 more than women on average.</div>

      <div class="search-section">
        <div class="hed">Teacher salary database</div>
        <div class="chatter">See how much teachers in your community earn. A mid-career salary is someone with the equivalent of 10 years of experience. The statistics for teachers also include some other employees, like nurses and school counselors.</div>
          <div class="search-container">
            <div class="search-bar">
              <span class="search">Search by school district or county:</span>
              <input type="text" ng-change="search()" ng-model="searchText" placeholder="Type here">
            </div>

          <table>
            <thead>
              <tr>
                <th>School district
                <th>County
                <th>Teacher count
                <th>Lowest salary
                <th>Average salary
                <th>Highest salary
                <th class="step10">Mid-career salary

            <tbody>
              <tr ng-show="found.length == 0 && !untouched">
                <td colspan=100><em>No results found.</em>
              <tr ng-show="found.length == 0 && untouched">
                <td colspan=100 class="empty-note"><em>
                  To search our teacher pay database, type a name above.</em>
              <tr ng-repeat="row in found">
                <td>{{row.school}}
                <td>{{row.county}}
                <td>{{row.full_time_teachers}}
                <td>{{row.lowest_salary_offered}}
                <td>{{row.average_salary}}
                <td>{{row.highest_salary_offered}}
                <td class="step10">{{row.step_10_salary}}
              </tr>
          </table>

        </div>
      </div>

      <div class="source">About the data: Teacher pay data was obtained from the <a href="http://www.cde.ca.gov/ds/fd/cs/" target="_blank">California Department of Education</a>. Not all school districts reported figures to the state in 2014-15.</div>

      <div class="text">The pay gap between the sexes in San Francisco has been wide at times in the past. But in 2009, as the recession was winding down, fully employed men and women in the city had roughly the same median income: $66,000 and $64,000 per year, respectively, after adjusting for inflation. By 2014, men working full time made about $73,400 per year, $11,300 more than women on average.</div>

      <div class="bars-container" id="bars-container">
        <div class="hed">SF salaries are on the rise, but teacher pay is left behind</div>
        <div class="chatter">The economy is booming, but that hasn't translated into higher pay for teachers in San Francisco, where the average pay, and pay for teachers with 10-years of experience, has barely kept up with inflation over the past decade.</div>

        <div class="select-container"> Choose a bay area school district:
          <select class="select-class"
                  ng-model="chosenDistrict"
                  ng-change=reset()
                  ng-init=reset()
                  ng-options="d for d in districts_list">
          </select>
        </div>

        <div class="legend-container">
          <div class="legend-element"><div class="teachers swatch"></div><div class="key">Average teachers salary</div></div>
          <div class="legend-element"><div class="step10 swatch"></div><div class="key">Mid-career teacher salary</div></div>
          <div class="legend-element"><div class="overall swatch"></div><div class="key">Median household income</div></div>
        </div>

        <div class="clustered-bar-graph" id="clustered-bar-graph"></div>
      </div>

      <div class="source">About the data: Median household income figures are from the 2014 American Community Survey 1-year estimates.</div>

      <div class="text">The pay gap between the sexes in San Francisco has been wide at times in the past. But in 2009, as the recession was winding down, fully employed men and women in the city had roughly the same median income: $66,000 and $64,000 per year, respectively, after adjusting for inflation. By 2014, men working full time made about $73,400 per year, $11,300 more than women on average.</div>

      <div class="credits">
          Reporters:
          <div class="entry">Joaquin Palomino  &bull; <a href="mailto:jpalomino@sfchronicle.com">jpalomino@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/JoaquinPalomino" target="_blank">@JoaquinPalomino</a></div>
          <div class="entry">Heather Knight  &bull; <a href="mailto:hknight@sfchronicle.com">hknight@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/hknightsf" target="_blank">@hknightsf</a></div>
          Developer:
          <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
      </div>

      <div class="divider">
      </div>

      <div class="dont-miss">
        <div class="story">
          <div class="padded">
          <a href="http://www.sfchronicle.com/style/article/Fashion-Warriors-Golden-State-shows-its-style-7271312.php" target="_blank">
            <img src="./assets/warriors2.jpeg"></img>
          </a>
            <div class="small">Warriors fashion: Players show off their style</div>
          <a href="http://projects.sfchronicle.com/2016/living-with-aids/">
          </a>
          </div>
        </div>
        <div class="story">
          <div class="padded">
          <a href="http://projects.sfchronicle.com/2016/top-100-restaurants/" target="_blank">
            <img src="./assets/dont-miss-top100.jpg"></img>
          </a>
            <div class="small">Michael Bauer's Top 100 Restaurants</div>
          </div>
        </div>
        <div class="story">
          <div class="padded">
          <a href="http://projects.sfchronicle.com/2016/living-with-aids/" target="_blank">
            <img src="./assets/aids_special.png"></img>
          </a>
            <div class="small">Living with AIDS</div>
          </div>
        </div>
        <div class="story">
          <div class="padded">
          <a href="http://projects.sfchronicle.com/2016/drought-status/" target="_blank">
            <img src="./assets/dont-miss-drought.jpg"></img>
          </a>
            <div class="small">Check the California drought status</div>
          </div>
        </div>
      </div>


      <footer>
        <a class="logo" href="http://www.sfchronicle.com" target="_blank">
          <img src="./assets/sf_logo_white.png">
        </a>
      </footer>

    </div>

    </responsive-child>

    <script>
      var allSchoolData = <%= JSON.stringify(csv.all_school_data) %>;
      var sfPayData = <%= JSON.stringify(csv.sf_pay) %>;
      var payData = <%= JSON.stringify(csv.adjusted_median_incomes) %>;
      var rentData = <%= JSON.stringify(csv.USD_CITY_RENT_emma) %>;
    </script>

    <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>

    <script src="app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
