<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>

      <div ng-controller="TeacherController" ng-app="teachers">

      <header>
        <a class="logo" href="http://www.sfchronicle.com">
          <img src="./assets/sf_logo_black.png">
        </a>
      </header>

      <div class="divider-container">
        <div class="top divider"></div>
        <div class="top divider-text">Chronicle investigations</div>
      </div>

      <div class="title">Teacher salaries can't keep up in the Silicon Valley</div>

      <div id="social">
      	<a id="twitter-icon" title="Share on Twitter">
      	   <i class="fa fa-twitter"></i>
      	</a>
      	<a id="facebook-icon" title="Share on Facebook">
  		      <i class="fa fa-facebook"></i>
      	</a>
        <a id="mail-icon">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </div>

      <div class="byline">By Joaquin Palomino and Heather Knight</div>
      <div class="byline">April 15, 2015</div>

      <div class="text">The pay gap between the sexes in San Francisco has been wide at times in the past. But in 2009, as the recession was winding down, fully employed men and women in the city had roughly the same median income: $66,000 and $64,000 per year, respectively, after adjusting for inflation. By 2014, men working full time made about $73,400 per year, $11,300 more than women on average.</div>

      <div class="hed">Can teachers afford to rent in their school's neighborhood?</div>
      <div class="chatter">Economists recommend spending no more than 30% of yearly income on rent, but this is all but impossible in San Francisco.</div>
      <div class="bubble-graph" id="bubble-graph">
      </div>

      <div class="text">The pay gap between the sexes in San Francisco has been wide at times in the past. But in 2009, as the recession was winding down, fully employed men and women in the city had roughly the same median income: $66,000 and $64,000 per year, respectively, after adjusting for inflation. By 2014, men working full time made about $73,400 per year, $11,300 more than women on average.</div>

      <div class="search-section">
        <div class="hed">Teacher salary database</div>
        <div class="chatter">See how well teachers in your neighborhood get paid.</div>
          <div class="search-container">
            <div class="search-bar">
              <span class="search">Search by school district or county:</span>
              <input type="text" ng-change="search()" ng-model="searchText" placeholder="Type here">
            </div>

          <table>
            <thead>
              <tr>
                <th>School district
                <th>County
                <th>Teacher count
                <th>Lowest salary
                <th>Average salary
                <th>Highest salary
                <th>Step 10 salary

            <tbody>
              <tr ng-show="found.length == 0 && !untouched">
                <td colspan=100><em>No results found.</em>
              <tr ng-show="found.length == 0 && untouched">
                <td colspan=100 class="empty-note"><em>
                  To search our teacher pay database, type a name above.</em>
              <tr ng-repeat="row in found">
                <td>{{row.school}}
                <td>{{row.county}}
                <td>{{row.full_time_teachers}}
                <td>{{row.lowest_salary_offered}}
                <td>{{row.average_salary}}
                <td>{{row.highest_salary_offered}}
                <td>{{row.step_10_salary}}
              </tr>
          </table>

        </div>
      </div>

      <div class="text">The pay gap between the sexes in San Francisco has been wide at times in the past. But in 2009, as the recession was winding down, fully employed men and women in the city had roughly the same median income: $66,000 and $64,000 per year, respectively, after adjusting for inflation. By 2014, men working full time made about $73,400 per year, $11,300 more than women on average.</div>

      <div class="hed">SF salaries are on the rise, but teacher pay is left behind</div>
      <div class="chatter">The economy is booming, but that hasn't translated into prosperity for teachers in San Francisco.</div>
      <div class="legend-container">
        <div class="legend-element"><div class="teachers swatch"></div><div class="key">Average teachers salary</div></div>
        <div class="legend-element"><div class="step10 swatch"></div><div class="key">Average step 10 teachers salary</div></div>
        <div class="legend-element"><div class="overall swatch"></div><div class="key">Average salary</div></div>
      </div>
      <div class="stacked-bar-graph"></div>

      <div class="text">The pay gap between the sexes in San Francisco has been wide at times in the past. But in 2009, as the recession was winding down, fully employed men and women in the city had roughly the same median income: $66,000 and $64,000 per year, respectively, after adjusting for inflation. By 2014, men working full time made about $73,400 per year, $11,300 more than women on average.</div>

      <div class="bars-container" id="bars-container">
        <div class="hed">SF salaries are on the rise, but teacher pay is left behind</div>
        <div class="chatter">The economy is booming, but that hasn't translated into prosperity for teachers in San Francisco.</div>

        <div class="select-container"> Choose a bay area school district:
          <select class="select-class"
                  ng-model="chosenDistrict"
                  ng-change=reset()
                  ng-init=reset()
                  ng-options="d for d in districts_list">
          </select>
        </div>

        <div class="legend-container">
          <div class="legend-element"><div class="teachers swatch"></div><div class="key">Average teachers salary</div></div>
          <div class="legend-element"><div class="step10 swatch"></div><div class="key">Average step 10 teachers salary</div></div>
          <div class="legend-element"><div class="overall swatch"></div><div class="key">Average salary</div></div>
        </div>

        <div class="clustered-bar-graph" id="clustered-bar-graph"></div>
      </div>

      <div class="text">The pay gap between the sexes in San Francisco has been wide at times in the past. But in 2009, as the recession was winding down, fully employed men and women in the city had roughly the same median income: $66,000 and $64,000 per year, respectively, after adjusting for inflation. By 2014, men working full time made about $73,400 per year, $11,300 more than women on average.</div>

      <div class="credits">
        Reporting by
          Joaquin Palomino <a>jpalomino@sfchronicle.com</a> and
          Heather Knight <a>hknight@sfchronicle.com</a> &bull;
        Web development by
          Emma O'Neill <a>eoneill@sfchronicle.com</a>
      </div>

      <footer>
        <a class="logo" href="http://www.sfchronicle.com">
          <img src="./assets/sf_logo_white.png">
        </a>
      </footer>

    </div>

    </responsive-child>

    <script>
      var allSchoolData = <%= JSON.stringify(csv.all_school_data) %>;
      var sfPayData = <%= JSON.stringify(csv.sf_pay) %>;
      var payData = <%= JSON.stringify(csv.adjusted_median_incomes) %>;
      var rentData = <%= JSON.stringify(csv.USD_CITY_RENT_emma) %>;
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
